@import './base.css';
@import './theme-blue.scss';
@import './theme-green.scss';
@import './theme-orange.scss';
@import './tone-default.scss';
@import './tone-dark.scss';
@import './tone-lite.scss';

:root {
	--c-top-header-bg: #000;
	--c-top-header-fg: #fff;

	--c-background: var(--vt-c-white);
	--c-background-soft: var(--vt-c-white-soft);
	--c-background-mute: var(--vt-c-white-mute);
	--c-border: var(--vt-c-divider-light-2);
	--c-border-hover: var(--vt-c-divider-light-1);
	--c-heading: var(--vt-c-text-light-1);
	--c-text: var(--vt-c-text-light-1);

	/* more colors here... */
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	font-weight: normal;
}